{
  "plugins": ["react", "react-native", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["prettier", "airbnb"],
  "env": {
    "react-native/react-native": true
  },
  "rules": {
    "react-native/no-unused-styles": 1,
    "react-native/no-inline-styles": 1,
    "react-native/no-color-literals": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0
  }
}
